@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --azul-forte: #22577aff;
    --ciano: #38a3a5ff;
    --esmeralda: #57cc99ff;
    --verde-claro: #80ed99ff;
    --verde: #c7f9ccff;
    --branco: #F6F1E9;
    --preto: #000000;
    --texto: "Playfair Display", serif;
    --titulo: "Limelight", sans-serif;
}

body{
    background-color: var(--ciano);
    font-family: var(--texto);
    margin: 0;
}

header{
    background-color: var(--azul-forte);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.img-logo{
    width: 10%;
    border-radius: 100%;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a{
    text-decoration: none;
    color: var(--verde);
}

.menu a:hover{
    color: var(--preto);
    transition: 0.5s; 
}